body {
    font-family: Arial, sans-serif;
}

/* Style for the calendar container */
/* Style for the calendar container */
.calendar-container {
    display: flex;
    height: 100vh;
}

/* Style for the calendar (right side, 3/4 width) */
.calendar {
    flex: 3;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    padding: 10px;
}

/* Style for the schedule container (left side, 1/4 width) */
.schedule-container {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    /* Add more styles as desired */
    display: none; /* Initially hide the schedule container */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    border: 1px solid #ccc;
    padding: 5px;
    height: 10vh;
    text-align: center;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}

/* Highlight present day */
.present-day {
    background-color: #ffcccc; /* Change to your preferred highlight color */
    border: 1px solid #ff0000; /* Add a border for emphasis */
}

.past-day {
    background-color: #A2A2A2; /* Change to your preferred highlight color */
    border: 1px solid #000000; /* Add a border for emphasis */
}

.future-day {
    background-color: #56E9A0; /* Change to your preferred highlight color */
    border: 1px solid #00753A; /* Add a border for emphasis */
}


/* Quote box */
.word-box {
    width: 300px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .calendar-container {
        display: flex;
        height: 100vh;
        flex-direction: column-reverse;
    }
    #currentMonth {
        text-align: center;
    }
  }
.event {
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 11px;
    left: 24.5vw;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #ff0303; /* Change color on hover if desired */
}